<h2>  <%= @power.name %></h2>
<h4>description: </h4>
<strong><%= @power.description %></strong><br>
<%= link_to "edit", edit_power_path %><br>
<br>
<strong><%= link_to "index", powers_path %></strong>
