<h1> Name: <%= @power.name %> </h1>
<h3> Description: </h3> <p><%= @power.description %> </p>


<%= link_to "Back to powers index page", powers_path %><br>
<%= link_to "Back to heroines index page", heroines_path %>
