<h2>All Heroines</h2>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name, heroine %><br>
      <%= link_to "edit", edit_heroine_path(heroine) %>
      <%= link_to "destroy", heroine, method: :delete %>
    </li>
    <br>
  <% end %>
</ul>
