<h1> Super Name: <%= @heroine.name %> </h1>
<h2> Real Name:<%= @heroine.super_name %> </h2>
<h3> Power: <%= link_to @heroine.power.name, @heroine.power %> </h3>

<%= link_to "Back to heroines index page", heroines_path %>
