<h1><%= @heroine.super_name %></h1>
</br>
Name: <h2><%= @heroine.name %></h2>
Power: <h2><%= link_to @heroine.power.name, power_path(@heroine.power) %>:</h2>
<h2><%= @heroine.power.description %></h2>
